/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.styled-button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14pt;
    -fx-border-color: #2980b9;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}